{% extends "index_template.html" %}


{% block body %}

<!-- Banner -->
<section id="banner">
	<h2>Espinosa Rozov Alexander</h2>
	<p>Система контроля сотрудников по qr-code</p>
	<ul class="actions special">
		<li><a href="https://t.me/espinosa_python" target="_blank" class="button primary">Написать в телеграмм</a></li>
		<li><a href="#" class="button">Узнать больше о проекте</a></li>
	</ul>



</section>

<!-- Main -->
<section id="main" class="container">

	<section class="box special">
		<header class="major">
			<h3>Я python-разработчик. Окончил обучение в Нетологии в 2022 году.
				<br />
				имею различные проекты в портфолио, в том числе коммерческие</h3>
			<p>Владею технологиями: Python, MySql, PostgreSql, Docker, Django, Django Rest Framework, Flask.
			Так же владею HTML, CSS</p>
		</header>
		<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
	</section>

	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon solid major fa-bolt accent2"></span>
				<h3>Flask сайт-визитка</h3>
				<p>Коммерческий проект. Основной стек технологий: Flask, PostgreSql, Docker. Выполнен по заказу
					частного преподавателя английского языка в соответствии с
				требованиями заказчика. Все модули на сайте легко изменяются благодаря удобной панели администратора
				для работы с базой данных. Это дает возможность собственнику сайта самому изменять контент не
				обращаясь к разработчикам.</p>
				<ul class="actions special">
					<li><a href="http://school.gym205.ru/" target="_blank" class="button primary">просмотр проекта</a></li>
				</ul>
			</section>

			<section>
				<span class="icon solid major fa-chart-area accent3"></span>
				<h3>Django-проект гимназии 205</h3>
				<p>Коммерческий проект. Основной стек технологий: Django, MySql. Выполнен по заказу кафедры иностранных
					 языков ГБОУ гимназии № 205. В дальнейшем управление проектом было передано информатикам
					 гимназии (обновление информации)</p>
				<ul class="actions special">
					<li><a href="http://school.gym205.ru/" target="_blank" class="button primary">просмотр проекта</a></li>
				</ul>
			</section>

	</section>


	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon solid major fa-bolt accent2"></span>
				<h3>Проект по пропускному контролю</h3>
				<p>Учебный проект. Основной стек технологий: Flask, PostgreSql, Docker. В проекте продумана архитектура
					по взаимодействию как базы данных с Flask, так и оповещение и рассылка qr-code сотрудникам
					предприятия в определенное время через TelegramBot. Все qr-code имеют динамическую информацию, что исключает
					повторное использование через определенный промежуток времени.</p>
				<ul class="actions special">
					<li><a href="http://school.gym205.ru/" target="_blank" class="button primary">просмотр проекта</a></li>
				</ul>
			</section>

			<section>
				<span class="icon solid major fa-chart-area accent3"></span>
				<h3>Django-проект магазин</h3>
				<p>Онлайн магазин. Основной стек технологий: Django, PostgreSql, Docker. В проекте развитая система
				просмотра товара (можно сортировать по производителю, цене, т.д.), наличие пагинации.
					Выполнена корзина с возможностью регистрации клиентов.</p>
				<ul class="actions special">
					<li><a href="http://school.gym205.ru/" target="_blank" class="button primary">просмотр проекта</a></li>
				</ul>
			</section>

	</section>



</section>


{% endblock %}

