{% load static %}

<html>
	<head>
		<title>Espinosa Rozov</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main_my.css" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">E.R.A.</a> Python developer</h1>
					<nav id="nav">
						<ul>
							<li><a href="{% url 'eng_index' %}">Main</a></li>
							<li>
								<a href="#" class="icon solid fa-angle-down">Menu</a>
								<ul>
									<li><a href="{% url 'eng_index' %}">Main</a></li>
									<li><a href="https://github.com/ERAalex"
							   target="_blank">GitHub</a></li>
									<li><a href="{% static 'images/foto/python_junior_ENG_Espinosa_Rozov.pdf' %}"
							   target="_blank">Resume</a></li>
									<li><a href="{% url 'projects' %}">Projects</a></li>
								</ul>
							</li>

							</li>
							<li><a href="{% url 'index' %}" target="_blank" class="button">RU</a></li>
							<li><a href="{% url 'esp_index' %}" target="_blank" class="button">ESP</a></li>
						</ul>
					</nav>
				</header>


			{% block body %}


			<!-- Banner -->
				<section id="banner">
					<h2>Espinosa Rozov Alexander</h2>
					<p>Python developer</p>
					<ul class="actions special">
						<li><a href="{% static 'images/foto/python_junior_RU_Espinosa_Rozov.pdf' %}"
							   target="_blank" class="button primary">My resume</a></li>
						<li><a href="{% url 'projects' %}" class="button">Learn more about projects</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Welcome to my site</h2>
							<p>I'm a python developer</p>
						</header>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
<!--								<h3>Python developer</h3>-->
								{% for x in mi_foto2 %}
								<img src="{{ x.artimage.url }}" width=80% >
								{% endfor %}
								<p></p>
								{% for s in mi_foto1 %}
								<img src="{{ s.artimage.url }}" width=80% >
								{% endfor %}
								<p></p>
							</section>

							<section>
								<span class="icon solid major fa-chart-area accent3"></span>

								<div class = "index_need_1">

									<h3 align="center">Work experience.</h3>
									<p>2010 - 2021 - teaching foreign languages
 										(Spanish - C1).
									<br>2014 - 2018 - work as a Spanish translator in the leading
										companies of St. Petersburg for working with foreign clients:
										Arctur Travel, Marko Tour, SpbTickets, Intourist.</br>
									2022 - 2023 - python-developer training in Netology courses. Diploma of retraining.
										<br>2022 - 2023 - Django course training: Creating functional web applications.</br>
									2022 - completed a number of commercial projects to order.</p>

									<h3 align="center">Technology stack:</h3>
									<p>Python, Flask, Django Rest Framework
									<br>Docker, GitHub, HTML, CSS </br></p>

									<h3 align="center">Databases:</h3>
									<p>PostgreSql, MySql, MongoDB</p>

									<h3 align="center">Knowledge of foreign languages:</h3>
									<p>English - B2 (advanced), Spanish - C1</p>

								</div>

							</section>
						</div>
					</section>

					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<h3>Foreign languages:</h3>
								<p>English - B2 (Upper-Intermediate)</br> Spanish - C1</p><br>
								<ul class="actions special">
<!--									<li><a href="#" class="button alt">Learn More</a></li>-->
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<h3>Contacts</h3>
								<p>mobile: +79117861595 <br>
								email: erapyth@gmail.com</p>
								<ul class="icons">
									<li><a href="https://t.me/espinosa_python" target="_blank" class="icon brands fa-telegram">
										<span class="label">Telegram</span></a></li>
									<li><a href="https://t.me/espinosa_python" target="_blank" class="icon brands fa-whatsapp">
										<span class="label">Whatsapp</span></a></li>
									<li><a href="https://github.com/ERAalex"
										   target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
									<li><a href="https://www.linkedin.com/in/alexander-espinosarozov-156a5825b/" target="_blank"
										   class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

				{% endblock %}

			<!-- CTA -->
				<section id="cta">

					<h2>If you are interested in my services</h2>
					<ul class="icons">
						write me your email, or send a message to Telegram -
						<li><a href="https://t.me/espinosa_python" target="_blank" class="icon brands fa-telegram">
							<span class="label">Telegram</span></a></li>
					</ul>

					<form method="post" action="#">
						{% csrf_token %}
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								{{ form.email }}
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Send" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://t.me/espinosa_python" target="_blank" class="icon brands fa-telegram">
							<span class="label">Telegram</span></a></li>
						<li><a href="https://github.com/ERAalex"
							   target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/alexander-espinosarozov-156a5825b/" target="_blank"
							   class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li>Espinosa Rozov</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>


