<!DOCTYPE HTML>

<html>
	<head>
		<title>Espinosa Rozov</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main_my.css" />
		<link rel="stylesheet" href="static/assets/css/main.css" />

	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">E.R.A.</a> Python developer</h1>
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index' %}">Home</a></li>
							<li>
								<a href="#" class="icon solid fa-angle-down">Menu</a>
								<ul>
									<li><a href="{% url 'index' %}">Главная</a></li>
									<li><a href="{% url 'about_me' %}">Резюме</a></li>
									<li><a href="{% url 'projects' %}">Проекты</a></li>
								</ul>
							</li>

							</li>
							<li><a href="https://t.me/espinosa_python" target="_blank" class="button">ENG</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Эспиноса Розов Александр</h2>
					<p>Python разработчик</p>
					<ul class="actions special">
						<li><a href="#" class="button primary">Мое резюме</a></li>
						<li><a href="{% url 'projects' %}" class="button">Узнать больше о проектах</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Добро пожаловать на мою страницу</h2>
							<p>Я python разработчик</p>
						</header>
						<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<h3>Python developer</h3>
								{% for x in mi_foto1 %}
								<img src="{{ x.artimage.url }}" width=80% >
								{% endfor %}
								<p></p>
							</section>

							<section>
								<span class="icon solid major fa-chart-area accent3"></span>

								<div class = "index_need_1">

									<h3 align="center">Опыт работы.</h3>
									<p>2010 - 2021 - преподавание иностранных языков
										(испанский - C1).
									<br>2014 - 2018 - работа переводчиком испанского языка в ведущих
										компаниях Санкт-Петербурга по работе с иностранными клиентами:
										Arctur Travel, Marko Tour, SpbTickets, Intourist.</br>
									2022 - 2023 - обучение python-developer на курсах Нетологии. Диплом о переквалификации.
									<br>2022 - 2023 - обучение на курсе Django: создание функциональных веб-приложений.</br>
									2022 - выполнен ряд коммерческих проектов на заказ.</p>

									<h3 align="center">Стек технологий:</h3>
									<p>Python, Flask, Django Rest Framework
									<br>Docker, GitHub, HTML, CSS </br></p>

									<h3 align="center">Базы данных:</h3>
									<p>PostgreSql, MySql, MongoDB</p>

									<h3 align="center">Знание иностранных языков:</h3>
									<p>Английский - B2 (advanced),  Испанский - C1</p>

								</div>

							</section>

					</section>

					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Sed lorem adipiscing</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Accumsan integer</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Если Вас заинтересовали мои услуги</h2>
					<ul class="icons">
						напишите мне Вашу электронную почту, или отправьте сообщение в Телеграм -
						<li><a href="https://t.me/espinosa_python" target="_blank" class="icon brands fa-telegram">
							<span class="label">Telegram</span></a></li>
					</ul>

					<form method="post" action="#">
						{% csrf_token %}
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								{{ form.email }}
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Отправить" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://t.me/espinosa_python" target="_blank" class="icon brands fa-telegram">
							<span class="label">Telegram</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li>Espinosa Rozov</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>



