<!DOCTYPE HTML>

<html>
	<head>
		<title>E.R.A. - система контроля</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main_my.css" />
		<link rel="stylesheet" href="static/assets/css/main.css" />

	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">E.R.A.</a> Python developer</h1>
					<nav id="nav">
						<ul>
							<li><a href="{% url 'index' %}">Home</a></li>
							<li>
								<a href="#" class="icon solid fa-angle-down">Menu</a>
								<ul>
									<li><a href="{% url 'index' %}">Главная</a></li>
									<li><a href="#">Резюме</a></li>
									<li><a href="{% url 'projects' %}">Проекты</a></li>
								</ul>
							</li>

							</li>
							<li><a href="https://t.me/espinosa_python" target="_blank" class="button">ENG</a></li>
						</ul>
					</nav>
				</header>

		      {% block body %}

			<!-- Banner -->
				<section id="banner">
					<h2>E.R.A.</h2>
					<p>Система контроля сотрудников по qr-code. Создатель Эспиноса Розов Александр</p>
					<ul class="actions special">
						<li><a href="#" class="button primary">Просмотр сотрудников</a></li>
						<li><a href="#" class="button">Узнать больше о проекте</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Создание контроля пропуска сотрудников
							<br />
							включает в себя создание и рассылку QR-code</h2>
							<p>Вы можете значительно упростить проверку сотрудников, является ли он действующим, имеет
							ли право доступа в здание</p>
						</header>
						<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon solid major fa-bolt accent2"></span>
								<h3>Magna etiam</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon solid major fa-chart-area accent3"></span>
								<h3>Ipsum dolor</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>

					</section>

					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Sed lorem adipiscing</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Accumsan integer</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>


			      {% endblock %}


			<!-- CTA -->
				<section id="cta">

					<h2>Если Вас заинтересовали мои проекты</h2>
					<ul class="icons">
						напишите мне Вашу электронную почту, или отправьте сообщение в Телеграм -
						<li><a href="https://t.me/espinosa_python" target="_blank" class="icon brands fa-telegram">
							<span class="label">Telegram</span></a></li>
					</ul>

					<form method="post" action="#">
						{% csrf_token %}
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								{{ form.email }}
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Отправить" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://t.me/espinosa_python" target="_blank" class="icon brands fa-telegram">
							<span class="label">Telegram</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: EspinosaRozov</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>